{% extends 'base.html' %}

{% block content %}
<main>
    <header>
        <h1>Players, Get Ready!</h1>
        <h2>Please enter your name and choose a weapon!</h2>
    </header>
    
    <section>

        <form action="/versus/player" method="post">
            <section>
                <h3>Player 1</h3>
                <label for="nameOne">
                    <span>Name:</span>
                    <input type="text" id="nameOne" name="nameOne" placeholder="Enter Name">
                </label>
                <label for="p1_weapon">
                    <select name="weaponOne" id="p1_weapon">
                        <option value="rock">&#9994;</option>
                        <option value="paper">&#9995;</option>
                        <option value="scissors">&#9996;</option>
                    </select>
                </label>
            </section>
            
            <section>
                <h3>Player 2</h3>
                <label for="nameTwo">
                    <span>Name:</span>
                    <input type="text" id="nameTwo" name="nameTwo" placeholder="Enter Name">
                </label>
                <label for="weaponTwo">
                    <select name="weaponTwo" id="weaponTwo">
                        <option value="rock">&#9994;</option>
                        <option value="paper">&#9995;</option>
                        <option value="scissors">&#9996;</option>
                    </select>
                </label>
            </section>
                <input type="submit" value="Submit">
        </form>

    </section>
</main>

{% endblock %}