<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="your_image_path_and_name.ico" />
    <title>Rock, Paper, Scissors</title>
</head>
<body>
    <header>
        <h1 class="orange-text">Rock, Paper, Scissors</h1>
        <nav>
            <ul class="orange-text">
                <a href="/">Home</a>
                <a href="/versus/player">Versus Player</a>
                <a href="/versus/computer">Versus Computer</a>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>&copy;j-Rob</p>
    </footer>
</body>
</html>